<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ucenik-form</title>
<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
	crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h1>Ucenik Forma</h1>
	<hr>
	<h2>Dodaj Ucenika</h2>
	<form th:action="@{/addNewUcenik}" th:object="${ucenik}" method="POST">
		broj:
		<input type="text" th:field="*{broj}" placeholder="unesi broj"/><br/>
		ime:
		<input type="text" th:field="*{ime}" placeholder="unesi ime"/><br/>
		prezime:
		<input type="text" th:field="*{prezime}" placeholder="unesi prezime"/><br/>
		smer:
		<input type="text" th:field="*{smer}" placeholder="unesi smer"/><br/><br/>
		<button type="submit" class="btn btn-info col-2">Dodaj</button>
	</form>
</div>
</body>
</html>